.name {
    font-size: 14pt;
    font-weight: bold;
    margin-left: 2em;
    margin-top: 1em;
}
.bigName {
    font-size: 18pt;
    font-weight: bold;
    margin-left: 2em;
    margin-top: 1em;
    margin-bottom: 1em;
}
.info {
    font-size: 12pt;
    font-weight: normal;
    margin-left: 4em;
}
ul {
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 0;
    margin-left: 2em;
    padding: 0;
}
li {
    display: inline;
    margin-left: 1em;
}
